<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../Agua/images/Logo.ico">
    <link href="../Agua/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Latest compiled and minified bootstrap-select CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
    <title>Programa Electromovilidad</title>
</head>
<body>
  <div class = "encabezado">
    <img  class = "col-xs-12 col-md-12" height="90" width = "100%" src="../Agua/images/logo1.jpg" alt="">          
    <nav class="navbar navbar-expand-lg navbar-light" >
      <div class="container-fluid">
        <a class="navbar-brand" href="/eficienciaEnergetica/index.html">Eficiencia Energética</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="../Agua/index.html">Agua</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../Electro/indexView.html">Electromovilidad</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../Residuo/indexView.html">Residuos Urbanos</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Material Audiovisual
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="../AudiovisualAgua/indexView.html">Agua</a></li>
                <li><a class="dropdown-item" href="../AudiovisualElectro/indexView.html">Electromovilidad</a></li>
                <li><a class="dropdown-item" href="../AudiovisualResiduo/indexView.html">Residuos Urbanos</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Programa y Expositores 
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="../ProgramaAgua/indexView.html">Agua</a></li>
                <li><a class="dropdown-item" href="../ProgramaElectromovilidad/indexView.html">Electromovilidad</a></li>
                <li><a class="dropdown-item" href="../ProgramaResiduos/indexView.html">Residuos Urbanos</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../Evaluaciones/indexView.html">Curso/Evaluación</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</div>

<div id ="titulo" class = "col-xs-12 col-md-12">
  <h1 class = "text-center"> Uso Eficiente de la Energía en Electromovilidad, <br> (Escalamiento en electromovilidad)</h1>
</div>


<br><br><br><br><br>

    <div class="container">  
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Tema</th>
            <th scope="col">Presenta</th>
            <th scope="col">Horario</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Apertura del evento y bienvenida

              Dr. Luis Agustín Álvarez Icaza Longoria 
              Secretario Administrativo de la UNAM
              Dr. José Bernardo  Rosas Fernández
              Director General de Desarrollo e Innovación Tecnológica, SECTEI.
              </th>
            <td>Maestra de ceremonias: Dra. Donaji Velasco Arias</td>
            <td>09:00 - 09:10 h</td>
          </tr>
          <tr>
            <th scope="row">●	Eficiencia energética en el transporte. <br>
              ●	Las diferentes tecnologías vehiculares y sus avances: <br> 
              ●	Vehículos eléctricos e híbridos. Retos para este tipo de transporte
              </th>
            <td>Mtro. Germán Jorge Carmona Paredes (Instituto de
              Ingeniería UNAM)</td>
            <td>9:10 - 9:30 h</td>
          </tr>
          <tr>
            <th scope="row">Retos en los autos eléctricos: <br>
              ●	Desarrollo de nuevos materiales para baterías. <br>
              ●	Sustentabilidad en la extracción y uso de materiales. <br>
              ●	Fábrica de baterías
              </th>
            <td>Edilso Reguera Ruíz (LNCAE-CICATA Legaria)</td>
            <td>9:30 - 9:50 h</td>
          </tr>
          <tr>
            <th scope="row">Retos en los autos eléctricos:
              ●	Residuos <br>
              ●	Reciclaje de baterías.
              </th>
            <td>Guadalupe Ramos Sánchez (UAM Iztapalapa)</td>
            <td>09:50 - 10:10 h</td>
          </tr>

          <tr>
            <th scope="row">●	MultiPacks de baterías <br>
              ●	Esquemas de financiamiento en electromovilidad
              </th>
            <td>Henry Astudillo(MegaFlux)</td>
            <td>10:10 - 10:30 h</td>
          </tr>

          <tr class="table-light">
            <th colspan="2">Coffee Break</td>
            <td>10:30-10:40</td>
          </tr>

          <tr>
            <th scope="row">Caso mototaxis</th>
            <td>Andrés Torres (Crecer en colectivo)</td>
            <td>10:41 – 11:00 h</td>
          </tr>

          <tr>
            <th scope="row">Desarrollos de Electromovilidad casos de la CDMX. <br>
              ●	Experiencia con la Electromovilidad del sistema MB en la CDMX. <br>
              ●	Retos, oportunidades y necesidades actuales
              </th>
            <td>Gerardo Vidal  <br> en sustitución del Mtro. Fredy Velázquez Jiménez, <br> (Director Ejecutivo de Planeación, MB)</td>
            <td>11:01 – 11:20 h</td>
          </tr>
          <tr>
            <th scope="row">Análisis de los temas expuestos por los ponentes</th>
            <td>todos los participantes del evento.</td>
            <td>11:20 - 11:40 h</td>
          </tr>

          <tr>
            <th scope="row">Cierre del evento </th>
            <td>Maestra de ceremonias: Dra. Donaji Velasco Arias.</td>
            <td>11:40 - 11:50 h</td>
          </tr>
          
        </tbody>
      </table>

      <h2>Instituciones Invitadas: </h2>

      <ul class="list-group">
        <li class="list-group-item">Instituto de Ingeniería UNAM</li>
        <li class="list-group-item">LNCAE-CICATA Legaria</li>
        <li class="list-group-item">UAM Iztapalapa</li>
        <li class="list-group-item">MegaFlux</li>
        <li class="list-group-item">Crecer en colectivo</li>
        <li class="list-group-item">Metrobús</li>
      </ul>

      <h2>Expositores</h2>

      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img src="../ProgramaElectromovilidad/imagesElectro/german.jpg" class="card-img-top" width="560" height="315" alt="...">
            <div class="card-body">
              <h5> 
                <strong>
                  Mtro. German Jorge Carmona Paredes (Instituto de Ingeniería, UNAM.)
                </strong>
              </h5>
                <p class="card-text">•	Desarrollo de sistemas electrónicos de potencia, como controladores de motores y cargadores inteligentes para grandes bancos de baterías, cuya aplicación directa es en vehículos eléctricos e híbridos. Así mismo, trabajo en el diseño y fabricación de elementos mecánicos para sistemas híbridos (eléctrico-combustión interna).
                </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <img src="../ProgramaElectromovilidad/imagesElectro/edilson.jpg" class="card-img-top" width="560" height="315" alt="...">
            <div class="card-body">
              <h5> 
                <strong>
                  Dr. Edilso Reguera Ruíz(CICATA, Unidad Legaria)
                </strong>
              </h5>
              <p class="card-text"> •	Líneas de Investigación: Energías renovables, materiales para el almacenamiento de energía, conversión de energías residuales, sustentabilidad energética
                </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../ProgramaElectromovilidad/imagesElectro/guadalupe.png" class="card-img-top" width="560" height="315" alt="...">
            <div class="card-body">
              <h5>
                <strong>
                  Guadalupe Ramos Sánchez (UAM Iztapalapa)               
                </strong>
              </h5>
              <p class="card-text">•	Desarrollo de materiales y prototipos de generación y almacenamiento de Energía Renovable; Uso de herramientas computacionales y experimentales. 
                •	Desarrollo de catalizadores para celdas de combustible <br>
                •	Desarrollo de materiales de intercalación para Baterías Ion-Li <br>
                •	Química computacional <br>
                •	Formación de prototipos de celdas de combustible y baterías Ion-Li <br>
                </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../ProgramaElectromovilidad/imagesElectro/hen.jpg" class="card-img-top"width="560" height="315"  alt="...">
            <div class="card-body">
              <h5>
                <strong>
                  Henry Astudillo (Mega Flux)                
                </strong>
              </h5>
              <p class="card-text"> Desarrollo de tecnologías de motores y generadores eléctricos que han permitido la promulgación de industrias alrededor de las energías renovables. Experiencia de desarrollar y fabricar motores y generadores de distintas capacidades, distintas tecnologías, para distintas industrias. primera empresa mexicana en desarrollar vehículos eléctricos comerciales con tecnología propia. 
                </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../ProgramaElectromovilidad/imagesElectro/andres.jpg" class="card-img-top"  width="560" height="315" alt="...">
            <div class="card-body">
              <h5>
                <strong>
                  Andrés Torres (Crecer en colectivo)
                </strong>
              </h5>
              <p class="card-text">Desarrollo del proyecto de mototaxis eléctricos en la alcaldía Iztapalapa.
                </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../ProgramaElectromovilidad/imagesElectro/gerardo.jpg" class="card-img-top" width="560" height="315" alt="...">
            <div class="card-body">
              <h5>
                <strong>
                  Gerardo Vidal  (Metrobús)
                </strong>
              </h5>
              <p class="card-text">Seguimiento de Proyectos de sustitución de autobuses de combustión interna a autos eléctricos para el Metrobús de la CDMX
                </p>
            </div>
          </div>
        </div>
      </div>

        
    </div>

        
  <footer class="pt-2 text-center text-small">
    <nav class="redes-container navbar navbar-expand-lg navbar-light " style="background-color: #a31c3a;">
      <div class="container-fluid">
        <a class="navbar-brand" >Redes Sociales</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="https://www.facebook.com/profile.php?id=100090831654332" target = "_blank"><i class="bi bi-facebook" target = "_blanck" ></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.instagram.com/usoeficientedelaenergia_23/" target = "_blank"><i class="bi bi-instagram"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://twitter.com/UEEAERU23" target = "_blank"><i class="bi bi-twitter"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"></script>
  <!-- Latest compiled and minified bootstrap-select CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
</body>
</html>
