<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../Agua/images/Logo.ico">
    <link href="../Agua/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
    <title>Resduos Urbanos</title>
</head>
<body>
  <div class = "encabezado">
    <img  class = "col-xs-12 col-md-12" height="90" width = "100%" src="../Agua/images/logo1.jpg" alt="">          
    <nav class="navbar navbar-expand-lg navbar-light" >
      <div class="container-fluid">
        <a class="navbar-brand" href="/eficienciaEnergetica/index.html">Eficiencia Energética</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="../Agua/index.html">Agua</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../Electro/indexView.html">Electromovilidad</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../Residuo/indexView.html">Residuos Urbanos</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Material Audiovisual
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="../AudiovisualAgua/indexView.html">Agua</a></li>
                <li><a class="dropdown-item" href="../AudiovisualElectro/indexView.html">Electromovilidad</a></li>
                <li><a class="dropdown-item" href="../AudiovisualResiduo/indexView.html">Residuos Urbanos</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Programa y Expositores 
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="../ProgramaAgua/indexView.html">Agua</a></li>
                <li><a class="dropdown-item" href="../ProgramaElectromovilidad/indexView.html">Electromovilidad</a></li>
                <li><a class="dropdown-item" href="../ProgramaResiduos/indexView.html">Residuos Urbanos</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../Evaluaciones/indexView.html">Curso/Evaluación</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</div>



<br><br>
<div id ="titulo" class = "col-xs-12 col-md-12">
  <img  id = "imagen" class="col-xs-12 col-md-12" width="100%" height="400" src="../Residuo/Residuos.gif" alt="">
</div>


<br><br><br><br><br>

<div class="texto container"> 
  
  <br><br><br>

  <h2 class = "text-center">Residuos urbanos</h2>

  <p>El manejo adecuado de los residuos sólidos urbanos es un tema crucial para la ciudad de México
    debido a su gran importancia tanto en términos de salud pública como ambientales. Con una población
    de más de 20 millones de habitantes, la capital mexicana produce una gran cantidad de basura diariamente,
    y su manejo inadecuado puede tener consecuencias significativas. 
  </p>   
  <br>

  <div class="centrar row row-cols-1 row-cols-md-2 g-4">
    <div class="col-md-6">
      <img src="../Residuo/images/residuos1.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-6">
        <p>
          El impacto ambiental del mal manejo de los residuos sólidos puede ser devastador. Los residuos
           no manejados pueden contaminar el aire, el agua y el suelo, y producir emisiones de gases de 
           efecto invernadero que contribuyen al cambio climático. 
        </p> 
    </div>
  </div>

  <br><br>

  <p>
    Para mejorar la gestión de los residuos sólidos en la ciudad de México, es necesario implementar 
    medidas de reducción, reutilización y reciclaje. La implementación de prácticas de reducción en
     la fuente, como la reducción del uso de plásticos de un solo uso y la promoción de prácticas de 
     compra sostenibles, puede ayudar a disminuir la cantidad de residuos producidos. Además, el reciclaje 
     es un componente crucial para el manejo de residuos sólidos en la ciudad de México. 
  </p> 
  
  <br>

    <div class="centrar row row-cols-1 row-cols-md-2 g-4">
      <div class="col-md-6">
        <p>
          El reciclaje puede ayudar a reducir la cantidad de basura que se envía a los vertederos, 
          reduciendo así los impactos ambientales asociados con la disposición de residuos. El reciclaje
           también puede generar oportunidades económicas para los recicladores y fomentar una cultura
            de responsabilidad ambiental en la ciudad.
        </p>
      </div>
      <div class="col-md-6">
        <img src="../Residuo/images/reciclaje.jpg" class="img-fluid rounded-end" alt="...">
      </div>
    </div>    

  <br><br>

    <p>
      La relación entre la economía circular y la valorización energética de residuos sólidos se basa
       en su objetivo común de promover la sostenibilidad y reducir el impacto ambiental causado por
        la generación de desechos. Ambos enfoques buscan aprovechar los recursos de manera eficiente 
        y minimizar la dependencia de los recursos naturales.
    </p>
      <br>

    <div class="centrar row row-cols-1 row-cols-md-2 g-4">
      <div class="col-md-6">
        <img src="../Residuo/images/Economia-Circualar.png" class="img-fluid rounded float-start" alt="...">
      </div>
      <div class="col-md-6">
        <p>
          La economía circular es un modelo que se centra en cerrar los ciclos de producción, consumo y recuperación
          de materiales. Su objetivo principal es maximizar el valor y la utilidad de los productos y materiales
          a lo largo de su ciclo de vida, mediante la reutilización, el reciclaje y la valorización de los residuos.
          La economía circular busca transformar los desechos en recursos valiosos, promoviendo la creación de un
          ciclo continuo de producción y consumo más sostenible.
        </p>
      </div>
    </div> 

    <br><br>

    <p>
      Por otro lado, la valorización energética de residuos sólidos es una estrategia de gestión
      de residuos que implica utilizar los desechos como fuente de energía en lugar de enviarlos
      a vertederos. Mediante procesos como la incineración controlada o la gasificación, se aprovecha
      la materia orgánica presente en los residuos para generar electricidad, calor o combustibles. 
      La valorización energética reduce la cantidad de residuos destinados a los vertederos, evita la emisión 
      de gases de efecto invernadero y contribuye a la producción de energía renovable.
    </p>

      <br>

    <div class="centrar row row-cols-1 row-cols-md-2 g-4">
      <div class="col-md-6">
          <p>
            La economía circular y la valorización energética de residuos sólidos están relacionadas en varios aspectos.
            Asimismo, ambas estrategias buscan minimizar la generación de residuos y aprovechar al máximo los recursos
            disponibles. La economía circular promueve la reutilización y el reciclaje de los materiales, mientras que
            la valorización energética se presenta como una opción sostenible para los residuos que no pueden ser 
            recuperados de manera eficiente y segura.
          </p>
          
      </div>
      <div class="col-md-6">
        <img src="../Residuo/images/energia.jpg" class="img-fluid rounded float-end" alt="...">
      </div>
    </div>

    <br><br>

    <p>
      La valorización energética puede complementar a la economía circular al proporcionar una salida
      viable para los residuos que no son adecuados para el reciclaje. Los residuos que no pueden
      ser reciclados de manera eficiente pueden ser utilizados como combustible en procesos de valorización
      energética. De esta manera, se evita su disposición en vertederos y se obtiene energía renovable, 
      cerrando así el ciclo de vida de los materiales.
    </p>

      <br>

    <div class="centrar row row-cols-1 row-cols-md-2 g-4">
      <div class="col-md-6">
        <img src="../Residuo/images/reduce.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-6">
          <p>
            Sin embargo, es importante tener en cuenta que la valorización energética debe ser considerada como una opción
            de último recurso dentro de la economía circular. La prioridad debe ser la reducción, reutilización y reciclaje 
            de los materiales, ya que estos enfoques son más favorables desde el punto de vista ambiental y económico. 
            La valorización energética debe ser implementada de manera responsable, garantizando la selección adecuada 
            de los residuos y asegurando el cumplimiento de las normas ambientales y de salud pública.
          </p>
      </div>
    </div>

    <br><br>

   
    <p>
      Finalmente, la economía circular y la valorización energética de residuos sólidos están relacionadas en su 
      objetivo común de promover la sostenibilidad y minimizar el impacto ambiental causado por la generación de 
      desechos. La economía circular busca cerrar los ciclos de producción y consumo, mientras que la valorización 
      energética utiliza los residuos como fuente de energía renovable. Ambos enfoques se complementan en la gestión 
      eficiente de los recursos y residuos.
    </p>

</div>  

  
  <footer class="pt-2 text-center text-small">
    <nav class="redes-container navbar navbar-expand-lg navbar-light " style="background-color: #a31c3a;">
      <div class="container-fluid">
        <a class="navbar-brand" >Redes Sociales</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="https://www.facebook.com/profile.php?id=100090831654332" target = "_blank"><i class="bi bi-facebook" target = "_blanck" ></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.instagram.com/usoeficientedelaenergia_23/" target = "_blank"><i class="bi bi-instagram"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://twitter.com/UEEAERU23" target = "_blank"><i class="bi bi-twitter"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"></script>
  <!-- Latest compiled and minified bootstrap-select CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
</body>
</html>