/* .color1 { #ae0c3e };
.color2 { #afcca8 };
.color3 { #f5eec3 };
.color4 { #c7b299 };
.color5 { #33211c }; */

footer {
    background: #a31c3a;
    color: white;
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#titulo {
    position: relative;    /* para poder posicionar el texto de forma absoluta */
    display: inline-block; /* para que solo ocupe el ancho de la imagen */
  }
  
.card-title {
    position: absolute;    /* posición absolute con respecto al padre */
    left: 0; 
    bottom: 0;
}

.zoom {
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
}

.zoom img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.zoom:hover img {
    transform: scale(1.5);
}

.centrar{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    font-size: 20px;
  }

.texto p{
    font-size: 23px;
    font-family: "Source Sans Pro";
    text-align: justify;
    line-height: 2;
}

.textoIndex p{
    font-size: 20px;
    font-family: "Source Sans Pro";
    text-align: justify;
    line-height: 1.5;
}

.centrar img{
    border-radius: 25px;
}


.redes-container{
    display:flex;
    align-items: center;
    justify-content: center;
}

.redes-container ul:hover a{
    filter:blur(2px);
}

.redes-container ul li a:hover{
    transform: translate(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0,0,0,0.4);
    filter: none;
    background: rgba(70, 24, 32, 0.774);
    color:rgba(70, 24, 32, 0.774);
}

hr{
    margin: auto;
    margin-top: 10px;
    width: 5%;
    border: none;
    border-top: 3px solid #a63e49;
}
