<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../Agua/images/Logo.ico">
    <link href="../Agua/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Latest compiled and minified bootstrap-select CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
    <title>Programa en Agua</title>
</head>
<body>
  <div class = "encabezado">
    <img  class = "col-xs-12 col-md-12" height="90" width = "100%" src="../Agua/images/logo1.jpg" alt="">          
    <nav class="navbar navbar-expand-lg navbar-light" >
      <div class="container-fluid">
        <a class="navbar-brand" href="/eficienciaEnergetica/index.html">Eficiencia Energética</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="../Agua/index.html">Agua</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../Electro/indexView.html">Electromovilidad</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../Residuo/indexView.html">Residuos Urbanos</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Material Audiovisual
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="../AudiovisualAgua/indexView.html">Agua</a></li>
                <li><a class="dropdown-item" href="../AudiovisualElectro/indexView.html">Electromovilidad</a></li>
                <li><a class="dropdown-item" href="../AudiovisualResiduo/indexView.html">Residuos Urbanos</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Programa y Expositores 
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="../ProgramaAgua/indexView.html">Agua</a></li>
                <li><a class="dropdown-item" href="../ProgramaElectromovilidad/indexView.html">Electromovilidad</a></li>
                <li><a class="dropdown-item" href="../ProgramaResiduos/indexView.html">Residuos Urbanos</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../Evaluaciones/indexView.html">Curso/Evaluación</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</div>

  <div id ="titulo" class = "col-xs-12 col-md-12">
    <h1 class = "text-center"> Uso Eficiente de la Energía en Agua, <br> (Eficiencia en sistemas de aguas)</h1>
  </div>
  

<br><br><br><br><br>

      <div class="container">  
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Tema</th>
              <th scope="col">Presenta</th>
              <th scope="col">Horario</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Apertura del evento y bienvenida

                Dr. Luis Agustín Álvarez Icaza Longoria 
                Secretario Administrativo de la UNAM
                Dr. José Bernardo  Rosas Fernández
                Director General de Desarrollo e Innovación Tecnológica, SECTEI.
                </th>
              <td>Maestra de ceremonias: Dra. Donaji Velasco Arias</td>
              <td>10:00 - 10:15 h</td>
            </tr>
            <tr>
              <th scope="row">Problemas de los acuíferos en la CDMX, Sobreexplotación y contaminación</th>
              <td>Adriana Palma ( Red del agua)</td>
              <td>10:15 - 10:40h</td>
            </tr>
            <tr>
              <th scope="row">Sistema de captación de agua de lluvia y adquisición de Energías Renovables para instalaciones de tratamiento de agua.</th>
              <td>Issis Claudette Romero Ibarra(UPIITA, IPN)</td>
              <td>10:40- 11:05 h</td>
            </tr>
            <tr class="table-light">
              <th colspan="2">Coffee Break</td>
              <td>11:05-11:20 h</td>
            </tr>
            <tr>
              <th scope="row">Eficiencia energética en Bombeo, generadores hidroeléctricos. (prototipos de motores, generadores y sistemas de potencia).</th>
              <td>Tomás Gottfried(Potencia Industrial)</td>
              <td>11:20 - 11:40 H</td>
            </tr>

            <tr>
              <th scope="row">Experiencia de SACMEX en eficiencia energética de susprocesos</th>
              <td>Rafael Bernardo Carmona Paredes
                <br>(Coordinador General del Sistema de Aguas de la CDMX)
              </td>
              <td>11:40 - 12:00 H</td>
            </tr>

            <tr>
              <th scope="row">Ahorro de agua y energía. Gestión efifciente del agua durante la sequía</th>
              <td>Roberto Capuano (SACMEX)
              </td>
              <td>12:00 - 12:20 h</td>
            </tr>

            <tr>
              <th scope="row">Proyecto de Rehabilitación del Lago Tláhuac-Xico</th>
              <td>Armando Alonso Beltrán(CARE)</td>
              <td>12:20 - 12:40 h</td>
            </tr>
            <tr>
              <th scope="row">Análisis de los temas expuestos por los ponentes</th>
              <td>Descripción: Un análisis general del tema de “eficiencias en sistemas de agua” en conjunto con todos los participantes del evento.</td>
              <td>12:40 - 12:50 h</td>
            </tr>

            <tr>
              <th scope="row">Cierre del evento </th>
              <td>Maestra de ceremonias: Dra. Donaji Velasco Arias.</td>
              <td>12:50 - 13:00 h</td>
            </tr>
            
          </tbody>
        </table>

        <br><br><br>

        <h2>Instituciones Invitadas: </h2>

        <ul class="list-group">
          <li class="list-group-item">SACMEX</li>
          <li class="list-group-item">IINGEN, UNAM</li>
          <li class="list-group-item"> UPIITA, IPN</li>
          <li class="list-group-item"> Potencia Industrial</li>
          <li class="list-group-item">CARE</li>
        </ul>

        <br><br><br>

        <h2>Expositores</h2>

        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card">
              <img src="../ProgramaAgua/imagesAgua/Roberto_capuano.jpg" class="card-img-top" width="560" height="315" alt="...">
              <div class="card-body">
                <p class="card-text">
                  <h5>
                    <strong>Mtro. Roberto Capuano</strong>
                  </h5>
                  ●	Gestión de proyectos de movilidad <br>
                  ●	Asesor de SACMEX <br>
                  ●	Consejero de la Industria Solar en México <br>
                  </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="../ProgramaAgua/imagesAgua/Bernardo.jpg" class="card-img-top" width="560" height="315" alt="...">
              <div class="card-body">
                <p class="card-text">
                  <h5>
                    <strong>Dr. Rafael Bernardo Carmona Paredes</strong>
                  </h5>
                  <br>
                  ●	Análisis de sistemas dinámicos <br>
                  ●	Transitorios hidráulicos <br>
                  ●	Plantas hidráulicas <br>
                  ●	Mecánica de fluidos, <br>
                  ●	Modelos de pronóstico
                  </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="../ProgramaAgua/imagesAgua/Adriana.jpg" class="card-img-top" width="560" height="315" alt="...">
              <div class="card-body">
                <p class="card-text">
                  <h5>
                    <strong>Dra. Adriana Palma (IINGEN-UNAM)</strong>
                  </h5>
                  ●	Aportaciones en modelos numéricos de acuíferos <br>
                  ●	Estudio y desarrollo metodologías de manejo integral de cuencas <br>
                  ●	gestión de la recarga artificial de acuíferos
                  </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="../ProgramaAgua/imagesAgua/isis.jpg" class="card-img-top" width="560" height="315" alt="...">
              <div class="card-body">
                <h5> <strong>Dra. Issis Claudette Romero Ibarra (UPIITA,IPN)</strong> </h5>
                <p class="card-text">
                  ●Investigador Posdoctoral: Instituto de Investigaciones en Materiales (IIM) UNAM. Materiales cerámicos para captura de CO2 y biocombustibles <br>
                  ●	Proyecto:  Captura  y  confinamiento  de  CO2 en  materiales  multicomponentes  diversos  y  estudio  de la transformación sustentable del CO2 en productos con valor agregado.
                  </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="../ProgramaAgua/imagesAgua/tomas.png" class="card-img-top" width="560" height="315" alt="...">
              <div class="card-body">
                <p class="card-text">
                  <h5>
                    <strong>Ing. Tomás Gottfried (Empresa Potencia Industrial)</strong> 
                  </h5>
                  ●	Apoyo en el campo de la electromovilidad en la CDMX <br>
                  ●	Ha trabajado en PI por mas de 10 años en áreas como ventas técnicas, revisión de procesos, gestión de producción y gestión de ingeniería. Ha sido Diseñador principal de varios de los productos de PI más innovadores, como el sistema de energía ininterrumpida, generadores de energía eólica y marina, y máquinas de imanes permanentes
                  </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="../ProgramaAgua/imagesAgua/arm.png" class="card-img-top" width="560" height="315" alt="...">
              <div class="card-body">
                <p class="card-text">
                  <h5>
                    <strong>M. Armando Alonso Beltrán</strong> 
                  </h5>
                  Gerente de Construcción Urbana, ICA México <br>
                  Consultoría en Proyectos de Infraestructura Urbana <br>
                  Proyectos de rehabilitación en la ciudad, por ejemplo: Resumidero Cultura Maya, Rehabilitación Pilares Ecoguardas,  Rehabilitación Pilares Central de Abastos, Rehabilitación Río Magdalena, Museo del Ajolote en Chapultepec, Rehabilitación Parque Cuitláhuac, etc.
                  </p>
              </div>
            </div>
          </div>
        </div>

          
      </div>

        
  <footer class="pt-2 text-center text-small">
    <nav class="redes-container navbar navbar-expand-lg navbar-light " style="background-color: #a31c3a;">
      <div class="container-fluid">
        <a class="navbar-brand" >Siguemos en nuestras redes sociales</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="https://www.facebook.com/profile.php?id=100090831654332" target = "_blank"><i class="bi bi-facebook" target = "_blanck" ></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.instagram.com/usoeficientedelaenergia_23/" target = "_blank"><i class="bi bi-instagram"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://twitter.com/UEEAERU23" target = "_blank"><i class="bi bi-twitter"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"></script>
  <!-- Latest compiled and minified bootstrap-select CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
</body>
</html>
