<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    ?php incluide('inc_header.php'); ?
</head>
<body>
  <div id ="titulo" class = "col-xs-12 col-md-12">
    <img  id = "imagen" class="col-xs-12 col-md-12" width="100%" height="400" src="'assets/images/uso_eficiente_agua.gif'" alt="">
  </div>
  
  
  <div class="texto container"> 
  
      <br><br><br>
  
      <p>Tanto el tema del agua como de la energía se encuentran fuertemente relacionados, 
        ya que el agua es empleada para generar energía eléctrica en las plantas hidroeléctricas 
        y a la vez se utiliza energía eléctrica para extraer, potabilizar y distribuir el valioso líquido.
        Cuando se ahorra agua, también se ahorra energía. <br><br> Actualmente existen tres tipos de centrales hidroeléctricas 
        y según el tipo de sistema que se utilice éstas son: centrales de agua fluyente, centrales de embalse y centrales de bombeo o reversibles.
      </p>   
      <br>
  
      <div class="centrar row row-cols-1 row-cols-md-2 g-4">
        <div class="col-md-6">
          <img src="assets/images/'hidraulica2.jpg'" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-6">
            <p>
              En cualquier caso, el proceso tiene lugar en varios pasos y se basa en la transformación
              de la energía potencial contenida en las masas de agua, situadas a una mayor 
              altitud respecto a las turbinas de una central, las cuales al caer las accionan 
              generando energía mecánica. <br><br> El líquido sale a un canal de desagüe para ser devuelto a los efluentes, 
              mientras que las turbinas conectadas a un generador eléctrico rotativo 
              (alternador), convierten la energía mecánica generada en energía eléctrica
            </p> 
        </div>
      </div>
  
      <br><br>
  
      <p>Una vez obtenida la electricidad, esta debe ser transformada para poder transportase a grandes 
        distancias, por lo que, antes de verterla a las líneas de transmisión, la energía eléctrica debe 
        pasar por un transformador que reduzca la intensidad de la corriente producida por el generador 
        eléctrico rotativo, y aumente su voltaje. 
      </p> 
      
      <br>
  
        <div class="centrar row row-cols-1 row-cols-md-2 g-4">
          <div class="col-md-6">
            <p>Una vez que llegue al lugar donde será empleada y antes de poder utilizarla, 
              es necesario pasarla nuevamente por otro transformador para elevar la potencia 
              de la corriente y posteriormente bajar el voltaje, y que, por último, pueda ser 
              aprovechada para su uso en las industrias, comercios y hogares. </p>
          </div>
          <div class="col-md-6">
            <img src="<?php echo IMAGES.'hidraulica.jpg' ?>" class="img-fluid rounded-end" alt="...">
          </div>
        </div>    
  
      <br><br>
  
        <p>El agua también, presenta un papel importante en la extracción de combustibles fósiles como
          es en el caso del "fracking"  o fractura hidráulica, donde se inyecta agua a alta presión 
          para fracturar las formaciones rocosas y permitiendo acceder a la fuente de petróleo o gas 
          contenido en el yacimiento. 
        </p>
        <p>Adicionalmente, otras fuentes de energía que no utilizan el agua
          directamente en los procesos de conversión son: la energía solar (fotovoltaica) y la eólica,
          las cuales requieren de algún tipo de insumo que en algún momento de su producción han requerido del agua.
        </p>
  
          <br>
  
        <div class="centrar row row-cols-1 row-cols-md-2 g-4">
          <div class="col-md-6">
            <img src="<?php echo IMAGES.'fracking.jpg' ?>" class="img-fluid rounded float-start" alt="...">
          </div>
          <div class="col-md-6">
            <p>Durante el procesamiento del agua potable, el consumo de energía se efectúa a través de los 
          procesos de prestación de servicios como son: la extracción, transporte, potabilización, 
          almacenamiento, distribución, recolección y tratamiento de aguas residuales</p>
          </div>
        </div> 
  
        <br><br>
  
        <p>En las grandes urbes como es la CDMX, el usuario consume energía principalmente para 
          el bombeo dentro de los hogares y el suministro de agua caliente, entre otros. 
          Sin embargo, en algunas zonas rurales existen pozos de abastecimiento que proveen el 
          líquido desde aguas subterráneas, que también consumen energía mediante el bombeo para
          la extracción y distribución.
        </p>
  
          <br>
  
        <div class="centrar row row-cols-1 row-cols-md-2 g-4">
          <div class="col-md-6">
              <p>El consumo de agua en zonas urbanas para uso residencial 
                 y comercial como es en la CDMX es grande, y requiere no solo que sea bombeada sino 
                 también tratada de acuerdo a las normas dictadas en la ley de sustentabilidad hídrica
                  de la Ciudad de México. 
              </p>
              <p>La etapa de transporte es la más costosa energéticamente 
                  hablando, debido a que en la distribución es necesario efectuar bombeo y presurización.
              </p>
          </div>
          <div class="col-md-6">
            <img src="<?php echo IMAGES.'agua_cdmx.jpg' ?>" class="img-fluid rounded float-end" alt="...">
          </div>
        </div>
  
        <br><br>
  
        <p>El agua debe transportarse desde la fuente hasta las plantas de tratamiento y posteriormente
           llevada a los depósitos de reserva, para al final llegar al usuario mediante la distribución de la tubería.
            Es importante mencionar que la energía consumida en cada planta de potabilización es diferente y depende 
            de la fuente.
        </p>
  
          <br>
  
        <div class="centrar row row-cols-1 row-cols-md-2 g-4">
          <div class="col-md-6">
            <img src="<?php echo IMAGES.'agua.jpg' ?>" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-6">
              <p>Una vez expuesto todo lo anterior, queda claro que el usuario al emplear el agua consume energía
                 y que para poder disminuir el consumo energético es necesario entonces reducir el volumen de agua
                  consumido, reduciendo así, el consumo energético de las etapas de producción, suministro y uso final.
             
              </p>
          </div>
        </div>
  
        <br><br>
  
        <p> La eficiencia en el consumo del agua y la energía es un tema que ha ido adquiriendo mayor relevancia debido
            a su relación con el cambio climático. Ya que el uso de agua requiere de energía, ésta trae como consecuencia
            la emisión de gases de efecto invernadero, que a su vez modifican los climas afectando el comportamiento de
            las precipitaciones pluviales, disminuyendo la disponibilidad y la calidad del agua. 
        </p>    
        <p>Este hecho hace que los requerimientos energéticos para la extracción aumenten y nuevamente
           se genere un círculo.Conocer y estudiar la relación entre agua y energía puede contribuir 
           a una planificación conjunta que sea eficaz tanto a corto, mediano y largo plazo, en donde si 
           ahorramos agua ahorramos energía.
        </p>
  
  </div>  
           
  <br><br><br><br><br>
        
  <?php incluide('inc_footer.php'); ?>
</body>
</html>



